*{
    padding: 0;
    margin: 0;
}

header h1{
    background-color: black;
    color: white;
    text-align: center;
    height: 50px;
    padding: 20px;
}

.img{
    margin:30px;
    border-color: black;
    border-style: solid;
    width:210px;
    text-align: center;
    display:inline-block;
}
.one{
    text-align: center;
}

.order{
    background-color: black;
    color: white;
    border-style: solid;
    border-color: black;
}

.order:hover{
    cursor: pointer;
}

.last{
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}
.contact form table {
    text-align: center;
    margin: 0 auto; /* This centers the table */

}


