*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: cadetblue;
}

.title{
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 10px;
}

.container div{
    width:200px;
    margin: 20px;
    flex-basis: 20%; 
}

.container{
    flex-wrap: wrap;
    display: flex;
    justify-content: space-around;
    flex-grow: 1;
}
